/* colors */
$blue:#385399;
$lightBlue:#0EC2F1;
$success:#18C1AA;
$danger : #e62a2a;
$darkGrey:#8F8F8F;
$footerBgColor:#555;
$midGrey: #DDD;
$lightGrey:#efefef;
$white:#FFFFFF;
$yellow:rgb(255, 220, 104);
$overlay--blue:rgba($blue, 0.5);


/* dimentions */
$containerWidth:70%;
$margin-sm:1.5rem;
$margin-lg:5rem;
$navbarPadding:10%;
$pagesVh:50vh;
$navVh: 8vh;
$sectionsMargin:5rem;

$borderRadius-lg:3rem;
/* fontSizes */
$midFont: 3rem;
/*home page*/

$homeCoverHeight:70vh;

/* analyze page */
$analyzePagePadding:10%;