.result-card {
    background-color: $white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    border-radius: 1rem;
    max-width: 20rem;
    min-width: 20rem;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__status {
        float: left;
        display: block;

        &--success {
            color: $success;
        }

        &--fali {
            color: $danger;
        }

    }

    &__vertical-line {
        width: 0.1rem;
        display: block;
        height: 90%;
    }

    &__date {
        color: $darkGrey;
    }
}

.notification-card {
    background-color: $white;
    padding: 1.3rem 5rem;
    border-radius: 1rem;
    color: $darkGrey;



    &__sender {
        position: relative;
        margin-right: 2rem;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: -1rem;
            margin: auto;
            height: 3rem;
            width: 0.1rem;
            background: $midGrey;
            display: inline-block;
        }
    }

}

.book-card-container {
    position: relative;

    &.clicked {
        animation: cardOpen 1s ease 0s 1 normal forwards;
    }


    .delete-bookCard {
        position: absolute;
        right: -29px;
        top: -21px;
        z-index: 9;
        transform: rotate(-45deg);
        transition: color 0.4s ease;

        &:focus,
        &:active {
            box-shadow: none;

        }

        &:hover {
            color: $danger;
            transition: color 0.4s ease;
        }
    }

}

.book-card {
    @extend %dfc-col;
    margin-bottom: $sectionsMargin;
    justify-content: space-between;
    background-color: $white;
    min-height: 30rem;
    overflow: auto;
    width: 100%;
    transition: box-shadow 0.4s ease;
    cursor: pointer;
    border: 1px solid darken($midGrey, 10%);




    &:hover {
        box-shadow: 0 0 0.8rem rgba(grey, 0.3);
        transition: box-shadow 0.4s ease;
    }

    min-height: 32.3rem;
    max-height: 32.3rem;
    width:100%;
    overflow: hidden;


    &__img-container {
        height: 22rem;
        width: 100%;
        background-position: center;
        background-size: cover;
        min-height: 22rem;
        max-height: 22rem;

    }

    &__content {
        @extend %dfc-col;
        padding: 10%;
        justify-content: initial
    }

    &__author-name {
        align-self: flex-start;
        color: darken($darkGrey, 5%) !important;
        font-size: 1.5rem;
        font-weight: 700;
    }

    &__describtion {
        font-size: 1.2rem;
        color: $darkGrey;
        height: 100%;
    }




}

.add-card {
    background-color: white;
    width: 100%;
    min-height: 32.3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    i {
        font-size: 20px;
        margin-bottom: 20px;
    }


}

.analysis__card {
    min-height: 20.3rem;
    max-height: 20.3rem;
    max-width: 20rem;
    margin: auto;
    background: $white;
    padding: 40px;
    border-radius: 10px;

    h4 {
        color: #989898;
    }

    ;

    img {
        max-width: 10rem;
        height: auto;
    }


    /*
    width:100%;
    min-height: 32.3rem;
    max-height: 32.3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;*/

    i {
        font-size: 40px;

        margin-bottom: 20px;
    }


    .number {}
}

.requests__card {
    background-color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 11px;

    .requests__card__header {
        text-align: left;
        font-weight: 500;
        color: #929292;
    }
}